<%- include('../../fragments/header.ejs') %>

<div class="topbottompanel">
    <header>
        <h2>Pracownicy</h2>
        <p>
            Edycja danych wybranego pracownika. Wprowadź aktualne dane.
        </p>
    </header>
   

    <main class="content">
      

            <div class="container">
                <form novalidate onsubmit="return validateForm();">
                <div class="row">
                  <div class="left_column">
                    <label for="firstname">Imię:<abbr title="required" aria-label="required"> * </abbr></label>
                  </div>
                  <div class="right_column">
                    <input type="text" id="firstName" name="firstname" placeholder="Adam">
                    <span id="errorFirstName" class="errors-text"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="left_column">
                    <label for="lastname">Nazwisko:<abbr title="required" aria-label="required"> * </abbr></label>
                  </div>
                  <div class="right_column">
                    <input type="text" id="lastName" name="lastname" placeholder="Kowalski" required>
                    <span id="errorLastName" class="errors-text"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="left_column">
                    <label for="email">Adres email:<abbr title="required" aria-label="required"> * </abbr></label>
                  </div>
                  <div class="right_column">
                    <input type="email" id="email" name="email" placeholder="adam.kowalski@gmail.com">
                    <span id="errorEmail" class="errors-text"></span>
                  </div>
                </div>
                <div class="row">
                  <p id="errorsSummary" class="errors-text"></p>
                  <input type="submit" value="Aktualizuj">
                  <a href="/vets" class="button-cancel">Anuluj</a>
                </div>
                
                
                </form>
              </div>

    
  
        
    </main>

    <%- include('../../fragments/footer.ejs') %>