<%- include('../fragments/header.ejs') %>

<div class="topbottompanel">
    <header>
        <h2>Logowanie</h2>
        <p>
            Strona logowania do indywidualnego konta.
        </p>
    </header>
   

     <main class="content">
      
      <% if(!loggedUser) { %>
            <div id="login" class="container">
              <form method="post" action="/login" novalidate>
                <div class="row">
                  <div class="left_column">
                    <label for="loginEmail">Email</label>
                  </div>
                  <div class="right_column">
                    <input type="email" id="loginEmail" name="email" placeholder="Twój login">
                  </div>
                </div>
                <div class="row">
                  <div class="left_column">
                    <label for="loginPassword">Hasło</label>
                  </div>
                  <div class="right_column">
                    <input type="password" id="loginPassword" name="password" placeholder="Twoje hasło">
                  </div>
                </div>
                
                <div class="row">
                  <input type="submit" value="Zaloguj">
                  <span id="loginErrors"><%= loginError ? loginError : ''%></span>
                  <a href="/" class="button-cancel">Anuluj</a>
                </div>
                
                
                </form>
              </div>

            <% } else { %>
              <div class="container">
                <article>
                  <span>Jesteś zalogowany jako: <%=loggedUser.firstName + " " + loggedUser.lastName%></span>
                  <br/> <br/> <br/> <br/>
            <a href="/logout" class="button-cancel">Wyloguj się</a>
          </article>
              </div>
            <% } %>
    
  
        
    </main>

    <%- include('../fragments/footer.ejs') %>