<%- include('./fragments/header.ejs') %>

<div class="topbottompanel">
    <header>
        <h2>Strona główna</h2>
        <p>
            Witamy na stronie administracyjnej kliniki PetWet.
        </p>
    </header>
    <nav>
        
    </nav>

    <main class="content">
        <article>
           <h5> Przychodnia Weterynaryjna PetWet w Warszawie </h5>
               Nasza przychodnia powstała w dniu 01 Marca 2020 roku. <br/>
               Jest owocem pasji lekarza weterynarii Adama Adamczyka, mającego kilkunastoletnie doświadczenie w pracy ze zwierzętami towarzyszącymi. 
               Praktykę zdobywał on w kilku przychodniach w Warszawie. <br/><br/>

Od samego początku naszą główną ideą było stworzenie nowoczesnej placówki, w której usługi będą świadczone na najwyższym poziomie.
Posiadamy sprzęt oraz doświadczenie, które są niezbędne do ratowania życia naszych czworonożnych przyjaciół.
<br/>

Wykonujemy szereg badań diagnostycznych i stosujemy skuteczne metody leczenia. 
<br/>
Przywiązujemy także dużą wagę do działań profilaktycznych oraz edukacyjnych. Stale poszerzamy swoją wiedzę w zakresie nowoczesnej medycyny weterynaryjnej na specjalizacjach i konferencjach.
<br/><br/>
W listopadzie 2018 roku przenieśliśmy się do nowej siedziby, zapewniając naszym pacjentom i ich opiekunom większy komfort udzielanych świadczeń.
<br/><br/>
Nasz zespół tworzą lekarze specjalizujący się w róznych dziedzinach weterynarii. Po szczegółowe informacje o naszej ofercie i specjalistach zapraszamy do zakladki <i>"Specjalisci". </i>

</article>
    </main>

    <%- include('./fragments/footer.ejs') %>