<%- include('../../fragments/header.ejs') %>
<div class="topbottompanel">
    <header>
        <h2>Specjalizacje</h2>
        <p>
            Dodawanie nowej specjalizacji do bazy kliniki.
        </p>
    </header>
   

    <main class="content">
      

            <div class="container">
              <form novalidate onsubmit="return validateForm();">
                <div class="row">
                  <div class="left_column">
                    <label for="specName">Nazwa Specjalizacji:<abbr title="required" aria-label="required"> * </abbr></label>
                  </div>
                  <div class="right_column">
                    
                    <input type="text" id="specName" name="specName" placeholder="Nazwa specjalizacji..">
                    <span id="errorSpecName" class="errors-text"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="left_column">
                    <label for="minSal">Minimalna pensja brutto:<abbr title="required" aria-label="required"> * </abbr></label>
                  </div>
                  <div class="right_column">
                    <input type="number" id="minSal" name="minSalary" placeholder="Minimalna pensja weterynarza o podanej specjalizacji..">
                    <span id="errorMinSal" class="errors-text"></span>
                  </div>
                </div>
                <div class="row">
                  <p id="errorsSummary" class="errors-text"></p>
                  <input type="submit" value="Submit">
                  <a href="/specs" class="button-cancel">Anuluj</a>
                </div>
                
                
                </form>
              </div>

    
  
        
    </main>

    <%- include('../../fragments/footer.ejs') %>